.roomLink {
  color: inherit;
}

/* Go to default color on hover.*/
.roomLink:hover {
}

.reactComponentDiv {
  height: 100%;
}

.reactComponentDiv > .grid {
  height: 100%;
  padding-top: 2.75rem;
}

.column.loginColumn {
  max-width: 450px;
}

.grid.login {
  justify-content: space-around;
  height: 100%;
}

.grid.registerparticipant {
  height: 100%;
}

.grid.registerparticipant > .column {
  max-width: 450px;
}

.masthead.segment {
  min-height: 700px;
  background-image: url('/images/masthead-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 12% !important;
}

.masthead > .text.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 14px;
  border-radius: 0.28571429rem;
}

.vertical.first.homepage.segment {
  padding: 8em 0em;
}

.vertical.first.homepage.segment h3 {
  font-size: 2em;
}

.vertical.first.homepage.segment p {
  font-size: 1.33em;
}

.column.homepage {
  padding-bottom: 0 !important;
}
.vertical.footer.homepage.segment {
  padding: 5em 0em;
}
